@import 'nib'
@import 'normalize.css'
@import 'bootstrap/bootstrap.min.css'
@import 'bootstrap/todc-bootstrap.css'
@import 'fontawesome/css/font-awesome.css'


body
  font-family: 'Source Sans Pro', sans-serif

#page
  margin-top: 20px

a
  color: #00B7FF