<% layout('/layouts/main-layout') %>
<% stylesheet('/stylesheets/style.css') -%>

<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container">
	    <a class="brand" href="/">Bropher</a>
	    <ul class="nav">
	      <li><a href="/mapper">Mapper</a></li>
	    </ul>
	</div>
  </div>
</div>


<div class="row" id="page">
  <div class="container">
  	<div class="form-search">
	  	<input type="text" name="keyword" placeholder="keyword">
		<button class="btn" id="keyword_search">Search</button>
	</div>
  	
  </div>
</div>


